@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

$header-end-color: #565c64;
$header-blue-color: #384251;
$header-middle-color: #424a53;
$nav-text-color: #afa17e;
$button-color: #b0a17c;
$button-hover-color: #dac798;

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

header {
    background-image: linear-gradient(90deg, $header-end-color, $header-blue-color 5% 30%, $header-middle-color, $header-blue-color 90% 95%, $header-end-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 67px;
    padding: 0 7vw;
    align-items: center;
    a{
        height: 3.5vw;
        img {
            height: 100%;
            width: 100%;
        }
    }
    nav {
        display: flex;
        align-items: center;
        #desktopMenu {
            list-style-type: none;
            li {
                float: left;
                color: $nav-text-color;
                margin: 0 2vw;
                font-size: 1.1vw;
                font-weight: 500;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        #checkbox {
            display: none;
        }
        #hamburgerLines {
            display: none;
        }
        #menuItems {
            display: none;
        }
    }
    #logInDiv {
        margin-left: auto;
        display: flex;
        align-items: center;
        #logInDivMessage {
            color: #ffffff;
            margin-right: 2vw;
            font-size: 0.7vw;
            letter-spacing: 0.6px;
            text-transform: uppercase;
        }
        button {
            background-color: $button-color;
            font-family: 'Lato', sans-serif;
            font-size: 1.1vw;
            font-weight: 600;
            letter-spacing: 0.9px;
            height: 2vw;
            width: 9.8vw;
            border: none;
            border-radius: 25px;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                transition: 0.4s;
                background-color: $button-hover-color;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 67px);
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: #ffffff;
    text-align: center;
    align-items: center;
    backdrop-filter: blur(10px);
    #textbox {
        width: 50%;
        margin-top: 13%;
        p{
            font-size: 1vw;
            letter-spacing: 1.4px;
            text-transform: uppercase;
        }
        h1 {
            font-family: 'optiocean-italicregular';
            font-weight: 500;
            font-size: 4vw;
            letter-spacing: 1.4px;
            margin: 0;
        }
    }
}

#logInPopup {
    height: 18.3vw;
    width: 25vw;
    background-color: #e4e4ee;
    color: black;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 35vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 8px;
    #closeBtn {
        border: none;
        background-color: transparent;
        padding: 0;
        position: relative;
        float: right;
        right: 1.2vw;
        top: 1.2vw;
        height: 1.2vw;
        width: 1.2vw;
        cursor: pointer;
        img {
            height: 1.2vw;
            width: 1.2vw;
        }
    }
    #logInContent {
        width: 67%;
        margin: 2.6vw auto;
        text-align: left;
        p {
            margin: 0;
        }
        #logInHeader {
            font-size: 1.5vw;
            font-weight: 600;
        }
        #logInText {
            font-size: 1.1vw;
            font-weight: 500;
            margin-top: 0.4vw;
            margin-bottom: 1.5vw;
        }
        form {
            input {
                height: 2.7vw;
                border: none;
                padding: 0;
                border-radius: 5px;
                font-size: 1.1vw;
                font-weight: 500;
            }
            input[type=text] {
                width: calc(100% - 1vw);
                padding-left: 1vw;
                color: #727272;
                margin-bottom: 0.8vw;
            }
            input[type=submit] {
                width: 100%;
                background-color: #afa17e;
                color: white;
                margin-bottom: 1.8vw;
                cursor: pointer;
                &:hover {
                    transition: 0.4s;
                    background-color: $button-hover-color;
                    color: black;
                }
            }
        }
        #villkor {
            font-size: 0.7vw;
            font-weight: 500;
            text-align: center;
            #villkorLink {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

#backgroundBlocker {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

.hidden {
    display: none;
}

.blur-filter {
    filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='6' result='b'/%3E%3CfeMorphology operator='dilate' radius='4'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E %3C/svg%3E#a") brightness(65%) contrast(140%);
}

@media  (min-width: 1800px) {
    header {
        height: 80px;
        a{
            height: 70px;
        }
    }
    main {
        height: calc(100vh - 80px);
    }
}

@media (max-width: 800px) {
    header {
        height: 15vw;
        padding: 0;
        justify-content: center;
        a {
            margin-top: 1.5vw;
            height: 12vw;
        }
        nav {
            overflow: hidden;
            #desktopMenu {
                display: none;
            }
            #checkbox {
                position: absolute;
                display: block;
                height: 7vw;
                width: 8vw;
                top: 3.8vw;
                right: 4vw;
                z-index: 1;
                opacity: 0;
                cursor: pointer;
            }
            #hamburgerLines {
                display: block;
                height: 6.1vw;
                width: 7.5vw;
                position: absolute;
                top: 4.7vw;
                right: 4.7vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .line {
                    height: 0.9vw;
                    border-radius: 10px;
                    background: #0e2431;
                }
                .line1 {
                    transform-origin: 0% 0%;
                    transition: transform 0.4s ease-in-out;
                }
                .line2 {
                    transition: transform 0.2s ease-in-out;
                }
                .line3 {
                    transform-origin: 0% 100%;
                    transition: transform 0.4s ease-in-out;
                }
            }
            #menuItems {
                background-image: linear-gradient(90deg, $header-end-color, $header-blue-color 5% 30%, $header-middle-color, $header-blue-color 90% 95%, $header-end-color);
                color: $nav-text-color;
                width: 100vw;
                display: flex;
                flex-direction: column;
                transform: translate(100vw);
                transition: transform 0.5s ease-in-out;
                z-index: 1;
                padding: 0;
                padding-top: 2vw;
                margin-top: 1.5vw;
                text-align: center;
                list-style-type: none;
                li {
                    margin-bottom: 2vw;
                    font-size: 5vw;
                }
            }
            input[type=checkbox]:checked ~ #hamburgerLines .line1 {
                transform: rotate(45deg);
            } 
            input[type=checkbox]:checked ~ #hamburgerLines .line2 {
                transform: scaleY(0);
            } 
            input[type=checkbox]:checked ~ #hamburgerLines .line3 {
                transform: rotate(-45deg);
            }
            input[type=checkbox]:checked ~ #menuItems {
                transform: translate(0);
            }
            #logInDiv {
                position: absolute;
                right: 2vw;
                button {
                    font-size: calc(1.1vw * 3);
                    height: calc(2vw * 3);
                    width: calc(9.8vw * 3);
                }
            }
        }
    }

    main {
        height: calc(100vh - 15vw);
        background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/bg-image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        #textbox {
            width: 90%;
            margin-top: 40%;
            p{
                font-size: 3vw;
            }
            h1 {
                font-size: 12vw;
            }
        }
    }
    
    #logInPopup {
        height: 66vw;
        width: 90vw;
        top: 20vh;
        #closeBtn {
            right: 5vw;
            top: 5vw;
            height: 7vw;
            width: 7vw;
            img {
                height: 7vw;
                width: 7vw;
            }
        }
        #logInContent {
            width: 80%;
            margin: 10vw auto;
            #logInHeader {
                font-size: 10vw;
            }
            #logInText {
                font-size: 5vw;
                margin-top: 1vw;
                margin-bottom: 2vw;
            }
            form {
                input {
                    height: 10vw;
                    font-size: 5vw;
                }
                input[type=text] {
                    width: calc(100% - 4vw);
                    padding-left: 4vw;
                    margin-bottom: 5vw;
                }
                input[type=submit] {
                    margin-bottom: 1.8vw;
                }
            }
            #villkor {
                font-size: 3vw;
            }
        }
    }
}